name: Update dependencies
on:
  schedule:
    - cron: "10 17 * * 1"
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
jobs:
  niv_update:
    name: Update dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ssh-key: ${{ secrets.FLAKE_UPDATE_SSH_KEY }}
      - uses: cachix/install-nix-action@456688f15bc354bef6d396e4a35f4f89d40bf2b7 # v31.8.2
        with:
          extra_nix_config: access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: Flake update
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          nix flake update --commit-lock-file
      - uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        id: create-pr
        name: Create PR
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: flake-update
          title: Automated flake update
