name: Update dependencies
on:
  schedule:
    - cron: "10 17 * * 1"
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
jobs:
  niv_update:
    name: Update dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ssh-key: ${{ secrets.FLAKE_UPDATE_SSH_KEY }}
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          extra_nix_config: access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: Flake update
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          nix flake update --commit-lock-file
      - uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        id: create-pr
        name: Create PR
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: flake-update
          title: Automated flake update
