name: Check formatting
permissions:
  contents: read
  checks: write
  pull-requests: write
  issues: write
on:
  pull_request:
  push:
    branches:
      - main
      - flake-update
jobs:
  check_formatting:
    name: Run treefmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@7ec16f2c061ab07b235a7245e06ed46fe9a1cab6 # v31.8.3
      - run: |
          nix run .#treefmt-wrapper
      - uses: reviewdog/action-suggester@aa38384ceb608d00f84b4690cacc83a5aba307ff # v1.24.0
        with:
          tool_name: treefmt
          level: warning
          fail_level: any
          filter_mode: nofilter
