name: Check formatting
permissions:
  contents: read
  checks: write
  pull-requests: write
  issues: write
on:
  pull_request:
  push:
    branches:
      - main
      - flake-update
jobs:
  check_formatting:
    name: Run treefmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
      - run: |
          nix run .#treefmt-wrapper
      - uses: reviewdog/action-suggester@aa38384ceb608d00f84b4690cacc83a5aba307ff # v1.24.0
        with:
          tool_name: treefmt
          level: warning
          fail_level: any
          filter_mode: nofilter
