name: Check formatting
permissions:
  contents: read
  checks: write
  pull-requests: write
  issues: write
on:
  pull_request:
  push:
    branches:
      - main
      - flake-update
jobs:
  check_formatting:
    name: Run treefmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
      - run: |
          nix run .#treefmt-wrapper
      - uses: reviewdog/action-suggester@aa38384ceb608d00f84b4690cacc83a5aba307ff # v1.24.0
        with:
          tool_name: treefmt
          level: warning
          fail_level: any
          filter_mode: nofilter
